/.idea
/vendor
/node_modules

/public/storage
/public/js
/public/css/*
!/public/css/*.png
!/public/css/*.gif
!/public/css/*.jpg

/storage/products.csv
/storage/magento/
/storage/git/
/storage/testing/

.env
_ide_helper*
*.directory
.phpstorm.meta.php
npm-debug.log
