<script id="attribute-value-inputs-template" type="text/x-handlebars-template">

    <div class="row attribute">
        <div class="col-sm-2">
            <input type="text" name="attributes[{{index}}][key]" class="form-control form-control-sm attribute-key" placeholder="Attribute" aria-label="Attribute">
        </div>
        <div class="col-sm-10">
            <select multiple name="attributes[{{index}}][values][]" data-role="tagsinput" class="attribute-values" placeholder="Values" aria-label="values"></select>
        </div>
    </div>

</script>
